<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/assets/letters3d-nohorns-91a25b30.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SLZ Seats</title>
    <script type="module" crossorigin src="/assets/index-f26b44f1.js"></script>
    <link rel="stylesheet" href="/assets/index-f582e98c.css">
  </head>
  <body style="background-color: rgba(0, 26, 255, 0.554); overflow: hidden">
    <div id="app"></div>
    
  </body>
</html>
